<!DOCTYPE html>
<html>
    <body>
        <div class="row flex-container justify-content-center mt-4">
            <h1>Grocery List</h1>
        </div>
        <div class="row flex-container justify-content-center mb-5">
            <div class="flex-container justify-content-center mb-6">
                <h6>Created by Nirmal Alla</h6>
            </div>
        </div>
    </body>
</html>